<div class="wd-vertical-center">
    <div class="container-fluid wd-vertical-center-container">
        <h1 class="text-center">Login</h1>
        <div ng-show="vm.invalidUsername"
             class="alert alert-danger wd-center">
            {{vm.invalidUsername}}
        </div>
        <div ng-show="vm.invalidPassword"
             class="alert alert-danger wd-center">
            {{vm.invalidPassword}}
        </div>
        <form novalidate name="myForm">
            <div ng-class="{'has-error': vm.invalidUsername}">
            <input type="text"
                   ng-model="username"
                   name="username"
                   class="form-control wd-center"
                   placeholder="username"
                   autocapitalize="off"
                   required />
            </div>
            <div ng-class="{'has-error': vm.invalidPassword}">
                <input type="password"
                       ng-model="password"
                       class="form-control wd-center"
                       placeholder="password"
                       required />
            </div>
        </form>
        <a class="btn btn-primary btn-block wd-center"
           ng-click="vm.login(username, password)">Login</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block wd-center">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
        <a class="btn btn-success btn-block wd-center"
           href="#!/register">Register</a>
    </div>
</div>
