<div class="container-fluid">
    <div class="form-group"
         ng-show="vm.message">
        <div class="alert alert-success">
            {{vm.message}}
        </div>
    </div>
    <div class="form-group"
         ng-show="vm.error">
        <div class="alert alert-danger">
            {{vm.error}}
        </div>
    </div>
    <form novalidate name="vm.editForm" ng-submit="vm.updateUser()">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">Username</span>
                <input type="text"
                       class="form-control"
                       id="username"
                       name="username"
                       ng-model="vm.user.username"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">Password</span>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       ng-model="vm.user.password"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">Email</span>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       ng-model="vm.user.email"
                       placeholder="alice@wonderland.com">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">First Name</span>
                <input type="text"
                       class="form-control"
                       id="first-name"
                       name="firstName"
                       ng-model="vm.user.firstName"
                       placeholder="Alice">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">Last Name</span>
                <input type="text"
                       class="form-control"
                       id="last-name"
                       name="lastName"
                       ng-model="vm.user.lastName"
                       placeholder="Wonderland">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon wd-min-width">Phone Number</span>
                <input type="text"
                       class="form-control"
                       id="phone"
                       name="phone"
                       ng-model="vm.user.phone"
                       placeholder="203-451-1233">
            </div>
        </div>
        <input class="btn btn-success btn-block"
               type="submit"
               id="submit"
               value="Update" />
        <a class="btn btn-danger btn-block"
            ng-click="vm.deleteUser(vm.user._id)">
            Delete
        </a>
    </form>
</div>