<!-- Footer --->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <a  href="#!/login"
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <div class="navbar-brand navbar-collapse collapse">
                <a href="#!/login"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
