<div class="container-fluid">
    <div class="list-group">
        <div class="list-group-item col-xs-4 wd-group-item wd-borderless wd-tile"
             ng-repeat="user in vm.following">
            <div class="wd-toolbar"
                 ng-click="vm.removeFollowing(vm.userId, user._id)">
                <span class="glyphicon glyphicon-remove wd-red"></span>
            </div>
            <a href="#!/user/{{user._id}}" target="_self">
                <img ng-src="{{user.photo}}"
                     class="img-thumbnail"
                     alt="avatar">
                <div class="caption text-center text-capitalize">
                    <p>{{user.username}}</p>
                </div>
            </a>
        </div>
        <div ng-show="vm.following.length === 0"
             class="wd-padding">
            <div class="alert alert-info"
                 ng-hide="vm.otherUser">
                You are not currently following any users.
            </div>
            <div class="alert alert-info"
                 ng-show="vm.otherUser">
                This user is not following anyone.
            </div>
        </div>
    </div>
</div>