<div class="container-fluid">
    <div class="list-group">
        <div class="list-group-item col-xs-4 wd-group-item wd-borderless wd-tile"
             ng-repeat="rep in vm.reps">
            <div class="wd-toolbar"
                 ng-click="vm.deleteRep(rep._id)">
                <span class="glyphicon glyphicon-remove wd-red"></span>
            </div>
            <a href="#!/search/{{rep.chamber}}/query/{{rep.govId}}" target="_self">
                <img ng-src="{{rep.photo}}"
                     class="img-thumbnail"
                     alt="avatar">
                <div class="caption text-center text-capitalize">
                    <p>{{rep.name}}</p>
                </div>
            </a>
        </div>
        <div ng-show="vm.reps.length === 0"
             class="wd-padding">
            <div class="alert alert-info"
                 ng-hide="vm.otherUser">
                You are not currently following any representatives.
            </div>
            <div class="alert alert-info"
                 ng-show="vm.otherUser">
                This user is not following anyone.
            </div>
        </div>
    </div>
</div>