<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <span>Create Widget</span>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link"
                       ng-click="vm.updateWidget();">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid wd-padding-top">
    <div ng-show="vm.nameError"
         class="alert alert-danger">
        {{vm.nameError}}
    </div>
    <div ng-include="vm.getWidgetUrlForType()"></div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>