<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  ng-click="vm.updateWebsite(vm.editableWebsite.name, vm.editableWebsite.description)"
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <div class="navbar-brand">
                <a class="navbar-link"
                   href="#!/user/{{vm.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <span>Edit Website</span>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="vm.updateWebsite(vm.editableWebsite.name, vm.editableWebsite.description)"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid wd-padding-top">
    <div class="row">
        <div class="col-sm-4 hidden-xs wd-scrollable-left">
            <div ng-repeat="website in vm.websites" class="list-group-item wd-borderless">
                <a href="#!/user/{{vm.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                <a href="#!/user/{{vm.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 wd-col-right-scrollable-left">
            <div ng-show="vm.nameError"
                 class="alert alert-danger">
                {{vm.nameError}}
            </div>
            <div ng-show="vm.descriptionError"
                 class="alert alert-danger">
                {{vm.descriptionError}}
            </div>
            <div class="form-group"
                 ng-class="{'has-error': vm.nameError}">
                <label for="website-name">Website Name</label>
                <input type="text"
                       class="form-control"
                       id="website-name"
                       ng-model="vm.editableWebsite.name"
                       placeholder="Website name"
                       required />
            </div>
            <div class="form-group"
                 ng-class="{'has-error': vm.descriptionError}">
                <label for="description-input">Website Description</label>
                <textarea class="form-control"
                          rows="5"
                          ng-model="vm.editableWebsite.description"
                          id="description-input">
                </textarea>
            </div>
            <div class="form-group">
                <a ng-click="vm.updateWebsite(vm.editableWebsite.name, vm.editableWebsite.description)"
                   class="btn btn-block btn-success">
                    Update
                </a>
            </div>
            <div class="form-group">
                <a ng-click="vm.deleteWebsite()"
                   class="btn btn-block btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
