<div class="wd-vertical-center">
    <div class="container-fluid wd-vertical-center-container">
        <h1 class="text-center">Register</h1>
        <form novalidate
              ng-submit="vm.register(username, password, verify)"
              name="registerForm">
            <div class="form-group wd-center"
                 ng-class="{'has-error': (registerForm.username.$error.required && registerForm.$submitted)}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           name="username"
                           ng-model="username"
                           required/>
                </div>
                <span ng-show="registerForm.username.$error.required && registerForm.$submitted"
                      class="help-block">
                    Please enter a username.
                </span>
            </div>
            <div class="form-group wd-center"
                 ng-class="{'has-error': (registerForm.password.$error.required && registerForm.$submitted),
                            'has-warning': vm.passwordWarning}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control"
                           placeholder="Password"
                           name="password"
                           ng-model="password"
                           required/>
                </div>
                <span ng-show="registerForm.password.$error.required && registerForm.$submitted"
                      class="help-block">
                    Please enter a password.
                </span>
            </div>
            <div class="form-group wd-center"
                 ng-class="{'has-error': (registerForm.verify.$error.required && registerForm.$submitted),
                            'has-warning': vm.passwordWarning}">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control"
                           placeholder="Verify"
                           name="verify"
                           ng-model="verify"
                           required/>
                </div>
                <span ng-show="registerForm.verify.$error.required && registerForm.$submitted"
                      class="help-block">
                    Please verify your password.
                </span>
                <span ng-show="vm.passwordWarning"
                      class="help-block">
                    {{vm.passwordWarning}}
                </span>
            </div>
            <input class="btn btn-primary btn-block wd-center"
                   type="submit"
                   id="submit"
                   value="Register" />
            <a class="btn btn-success btn-block wd-center"
               href="#!/login">
                Already registered? Login!
            </a>
        </form>
    </div>
</div>
