<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-hearder">
            <a  type="button"
                ng-click="vm.createPage(name, title)"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <div class="navbar-brand">
                <a class="navbar-link"
                   href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <span>New Page</span>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link"
                        ng-click="vm.createPage(name, title)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid wd-padding-top">
    <div class="row">
        <div class="col-sm-4 hidden-xs wd-scrollable-left">
            <ul class="list-group">
                <li ng-repeat="page in vm.pages" class="list-group-item wd-borderless">
                    <a href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <a href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 col-xs-12 wd-col-right-scrollable-left">
            <div ng-show="vm.nameError"
                 class="alert alert-danger">
                {{vm.nameError}}
            </div>
            <div ng-show="vm.descriptionError"
                 class="alert alert-danger">
                {{vm.descriptionError}}
            </div>
            <div class="form-group">
                <label for="name-input">Name</label>
                <input class="form-control"
                       type="text"
                       id="name-input"
                       ng-model="name"
                       placeholder="Page Name" />
            </div>
            <div class="form-group">
                <label for="title-input">Title</label>
                <input class="form-control"
                       type="text"
                       id="title-input"
                       ng-model="title"
                       placeholder="Page Name" />
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
