<div class="container-fluid">
    <div ng-repeat="rep in vm.selectedReps" class="row list-group-item wd-group-item">
        <div class="row"
             ng-show="rep.first_name">
            <span class="pull-left wd-padding-left">First Name: {{rep.first_name}}</span>
        </div>
        <div class="row"
             ng-show="rep.last_name">
             <span class="pull-left wd-padding-left">Last Name: {{rep.last_name}}</span>
        </div>
        <div class="row"
             ng-show="rep.state">
            <span class="pull-left wd-padding-left">State: {{rep.state}}</span>
        </div>
        <div class="row">
            <span class="pull-left wd-padding-left">
                Party:
                <span ng-show="rep.party === 'R' || rep.current_party === 'R'">Republican</span>
                <span ng-show="rep.party === 'D' || rep.current_party === 'D'">Democrat</span>
            </span>
        </div>
    </div>
</div>