<div class="container-fluid">
    <div ng-repeat="rep in vm.selectedReps" class="row list-group-item wd-group-item">
        <div class="row"
             ng-show="rep.phone">
             <span class="wd-padding-left pull-left">
                 Phone:
                 <a href="tel:{{rep.phone}}">
                    {{rep.phone}}
                 </a>
             </span>
        </div>
        <div class="row"
             ng-show="rep.url">
            <span class="wd-padding-left pull-left">
                Website:
                <a href="{{rep.url}}" target="_blank">
                    {{rep.url}}
                </a>
            </span>
        </div>
        <div class="row"
             ng-show="rep.facebook_account">
            <span class="pull-left wd-padding-left">
                Facebook:
                <a href="http://www.facebook.com/{{rep.facebook_account}}" target="_blank">
                    {{rep.facebook_account}}
                </a>
            </span>
        </div>
        <div class="row"
             ng-show="rep.twitter_account">
            <span class="wd-padding-left pull-left">
                Twitter:
                <a href="http://www.twitter.com/{{rep.twitter_account}}" target="_blank">
                    {{rep.twitter_account}}
                </a>
            </span>
        </div>
        <div class="row"
             ng-show="rep.youtube_account">
            <span class="wd-padding-left pull-left">
                Youtube:
                <a href="http://www.youtube.com/{{rep.youtube_account}}" target="_blank">
                    {{rep.youtube_account}}
                </a>
            </span>
        </div>
    </div>
</div>