<div class="row-fluid wd-padding"
     ng-show="vm.feeds.length > 0">
    <div class="panel-group" id="accordion">
        <div ng-repeat="feed in vm.feeds"
             class="panel panel-default"
             ng-show="vm.show || $index < 5">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse"
                       data-parent="#accordion"
                       href="#collapse{{$index}}"
                       target="_self">
                        {{feed.title}}</a>
                </div>
            </div>
            <div id="collapse{{$index}}"
                 class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        Date: {{feed.pubDate | date}}
                    </div>
                    <div class="row">
                        Link:
                        <a ng-href="{{feed.link}}"
                                 target="_blank">
                            {{feed.link}}
                        </a>
                    </div>
                    <div class="row" ng-show="feed.description">
                        Description: {{feed.description}}
                    </div>
                    <div class="row" ng-hide="feed.description">
                        Description: No description available. Please follow the link for more information.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-block btn-default"
         ng-click="vm.showMore()"
         ng-hide="vm.show">
        More
    </div>
    <div class="btn btn-block btn-default"
         ng-click="vm.showLess()"
         ng-show="vm.show">
        Less
    </div>
</div>
<div class="row-fluid wd-padding"
     ng-hide="vm.feeds.length > 0">
    <div class="alert alert-info">
        Unable to load RSS feed.
    </div>
</div>